<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--define various log targets-->
  <targets>

    <!--write logs to console-->
    <!--<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>-->

    <!--write info logs to file-->
    <target name="error_file" xsi:type="File"
                      fileName="${basedir}/Logs/${shortdate}_error.txt" maxArchiveFiles="30"
                      layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--write warn error fatal logs to file-->
    <target name="debug_file" xsi:type="File"
                      fileName="${basedir}/Logs/${shortdate}_debug.txt" maxArchiveFiles="30"
                      layout="${longdate} | ${message} ${newline}" />
    <target name="info_file" xsi:type="File"
                      fileName="${basedir}/Logs/${shortdate}_info.txt" maxArchiveFiles="30"
                      layout="${longdate} | ${message} ${newline}" />
   
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="error_file" />
    <logger name="*" level="Debug" writeTo="debug_file" />
    <logger name="*" level="Info" writeTo="info_file" />
  </rules>
</nlog>